:root {
  --gray-color-1: #f5f5f5;
  --gray-color-2: #ccc;
  --yellow-color-1: #ffd02d;
  --yellow-color-2: #fff3ca;
  --yellow-color-3: #fef9ea;
  --red-color-1: #e7b8ae;
  --red-color-2: #e2583a;
  --purple-color-1: #efc4f5;
  --purple-color-2: #e887f5;
  --blue-color-1: #c8d9f9;
  --blue-color-2: #548df8;
  --green-color-2: #d0e0e3;
  --green-color-1: #d9ead2;
  --green-color-3: #96e377;
  --green-color-4: rgb(135, 221, 100);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 1.6rem;
}

hr {
  margin-bottom: 1.5rem;
}

.app {
  max-width: 75rem;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.header h2 {
  text-transform: capitalize;
  font-family: serif;
  color: var(--yellow-color-1);
}

/* Todo */

.todo-container {
  width: 30rem;
  padding: 3rem;
  border: 1px solid var(--gray-color-2);
  min-height: 25rem;
  background: var(--gray-color-1);
}

.todo-header {
}
.todo-header-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.todo-header__cta {
  display: flex;
  width: 100%;
  margin-bottom: 1.5rem;
}
.todo-header__cta input {
  width: 100%;
  border: 1px solid var(--gray-color-2);
  padding: 0.7rem 1.2rem;
}
.todo-header__cta input:focus {
  outline: 1px dotted var(--gray-color-2);
  background-color: var(--yellow-color-3);
}

.todo-header__cta button {
  width: 4rem;
  cursor: pointer;
  border: none;
}
.todo-results__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.todo-result__item {
}
.item-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  background-color: var(--yellow-color-2);
}

.todo-result__item:nth-child(1) .item-header,
.todo-result__item:nth-child(1) .todo-item__extra {
  background-color: var(--yellow-color-2);
}
.todo-result__item:nth-child(2) .item-header,
.todo-result__item:nth-child(2) .todo-item__extra {
  background-color: var(--red-color-1);
}
.todo-result__item:nth-child(3) .item-header,
.todo-result__item:nth-child(3) .todo-item__extra {
  background-color: var(--green-color-2);
}
.todo-result__item:nth-child(4) .item-header,
.todo-result__item:nth-child(4) .todo-item__extra {
  background-color: var(--blue-color-1);
}
.todo-result__item:nth-child(5) .item-header,
.todo-result__item:nth-child(5) .todo-item__extra {
  background-color: var(--gray-color-1);
}
.todo-result__item:nth-child(6) .item-header,
.todo-result__item:nth-child(6) .todo-item__extra {
  background-color: var(--purple-color-1);
}

.item-header-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checked-task,
.checked-task ~ * {
  text-decoration: line-through;
}

.item-header button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.form-new-todo {
  background-color: var(--yellow-color-1);
  padding: 1.5rem;
}
.todo-result__item:nth-child(1) .form-new-todo {
  background-color: var(--yellow-color-1);
  padding: 1.5rem;
}
.todo-result__item:nth-child(2) .form-new-todo {
  background-color: var(--red-color-2);
}
.todo-result__item:nth-child(3) .form-new-todo {
  background-color: var(--green-color-3);
}
.todo-result__item:nth-child(4) .form-new-todo {
  background-color: var(--blue-color-2);
}
.todo-result__item:nth-child(5) .form-new-todo {
  background-color: var(--gray-color-2);
}
.todo-result__item:nth-child(6) .form-new-todo {
  background-color: var(--purple-color-2);
}

.item-header-cta {
}

.todo-item__extra {
  /* background-color: inherit; */
  padding: 1.5rem;
  display: block;
}
.todo-item__extra.active {
  display: none;
}
.todo-item__extratasks {
  list-style: none;
}
.todo-item__extratasks li .checked {
  text-decoration: line-through;
}
.todo-item__extratasks li {
  display: grid;
  grid-template-columns: min-content auto 1fr;
  gap: 0.5rem;
  align-items: center;
  padding: 1.5rem;
  font-size: 1.4rem;
  font-weight: 400;
}

.todo-item__extratasks li p {
  grid-column: 3;
  grid-row: 1/2;
}
.todo-item__extratasks li span {
  grid-column: 1/4;
  background-color: var(--red-color-1);
  padding: 0.2rem 0.5rem;
  border-radius: 50rem;
  justify-self: start;
}
.form-add-next-todo {
  width: 100%;
}
.form-add-next-todo label,
.form-add-next-todo input,
.form-add-next-todo textarea {
  width: 100%;
}
.form-add-next-todo input,
.form-add-next-todo textarea {
  border: 1px solid var(--gray-color-2);
  padding: 0.7rem 1.2rem;
  margin-bottom: 1.5rem;
}
.form-add-next-todo input:focus,
.form-add-next-todo textarea:focus {
  outline: 1px dotted var(--gray-color-2);
  background-color: var(--yellow-color-3);
}
